In [1]:
import pandas as pd
import numpy as np
from faker import Faker

In [2]:
fake = Faker()

In [3]:
name = []
x_perc = []
xii_perc = []
cet_perc = []
physics_xii = []
chem_xii = []
maths_xii = []
jee_perc = []

In [4]:
for _ in range(100) :
    name.append(fake.name())
    #generates percentage rounded upto 2 decimals
    x_perc.append(round(np.random.uniform(35.0, 100.0),2))
    xii_perc.append(round(np.random.uniform(51.0, 100.0),2))
    cet_perc.append(round(np.random.uniform(0.0, 100.0),2))    
    physics_xii.append(round(np.random.uniform(50.0, 100.0),2))
    chem_xii.append(round(np.random.uniform(50.0, 100.0),2))
    maths_xii.append(round(np.random.uniform(50.0, 100.0),2))
    jee_perc.append(round(np.random.uniform(0.0, 90.0),2))

In [5]:
data = pd.DataFrame(zip(name,x_perc,xii_perc,cet_perc,physics_xii,chem_xii,maths_xii,jee_perc),columns=['name','x_perc','xii_perc','cet_perc','physics_xii','chem_xii','maths_xii','jee_perc'])
data

,name,x_perc,xii_perc,cet_perc,physics_xii,chem_xii,maths_xii,jee_perc
0,William Garcia,80.18,98.21,47.27,79.56,69.94,73.48,78.16
1,Kevin Saunders,48.29,67.74,23.28,83.76,69.32,98.52,7.61
2,Lorraine Lawrence,79.73,90.76,20.20,54.34,67.13,90.91,75.38
3,Brenda Deleon MD,94.92,66.76,74.06,63.61,81.52,70.21,80.98
4,Kevin Scott,52.18,65.57,46.76,83.65,55.25,99.64,18.40
...,...,...,...,...,...,...,...,...
95,Chris York,44.01,61.05,83.03,61.26,61.28,61.32,37.79
96,Erica Davis,52.51,51.18,7.09,60.54,75.88,62.49,15.49
97,Ryan Mitchell,87.75,98.82,97.59,87.11,72.28,68.70,22.29
98,Carrie Murphy,50.28,67.54,98.75,68.29,53.41,99.18,17.27
99,Ryan Burch,80.68,67.98,19.14,92.88,88.93,57.84,76.83

In [6]:
dataset = data.to_csv('Student_dataset.csv', index = False)